body {
    font-family: 'Roboto', sans-serif;
    background-color: #282c34;
    color: #e6e6e6;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    color: #7861fb;
    margin-bottom: 20px;
}

.menu-container {
    width: 80%;
    background-color: #3a3f47;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    padding: 2rem;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.menu-section {
    background-color: #424a54;
    border-radius: 8px;
    padding: 2rem;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    align-items: center;
    justify-content: center;
    width: 80%;
}

.menu-section h2 {
    color: #9684ff;
    border-bottom: 2px solid #7861fb;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.menu-section ol {
    list-style-type: decimal;
    padding: 0 20px;
    margin: 0;
    color: #ffffff;
}

.menu-section ol li {
    background-color: #3a3f47;
    margin: 5px 0;
    padding: 10px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.menu-section ol li:hover {
    background-color: #7861fb;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.buttons input {
    padding: 10px;
    background-color: #7861fb;
    border: none;
    border-radius: 4px;
    color: #282c34;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.buttons input:hover {
    background-color: #a393fd;
}

.order-summary {
    width: 80%;
    background-color: #3a3f47;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
}

.order-summary h2 {
    text-align: center;
    color: #7861fb;
    margin-bottom: 20px;
}

.order-summary p {
    color: #e6e6e6;
    margin: 10px 0;
    text-align: center;
}

@media (max-width: 768px) {
    .menu-container {
        flex-direction: column;
        align-items: center;
    }

    .menu-section {
        flex: 1 1 100%;
    }

    .buttons {
        flex-direction: column;
        gap: 10px;
    }
}
